.about {
  background: url(../img/header.backgroungd.png) center center/cover no-repeat;
 
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
