html {
  font-size: rem(16px);
      @include tablets {
      font-size: rem(15px);
    }
    @include phones {
      font-size: rem(14px);
    }
}

html, body {
  height: 100%;
  margin: 0;
}
body{
 
  font-family: "Alegreya Sans", Helvetica, sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osk-font-smoothing: grayscale;
position: relative;
}
.button {
cursor: pointer;
}
a {
color: inherit;
}

* {
box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: normal;

}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  display: block;
  // max-width: 100%;
}
.section {
  height: 100vh;
}
.container {
  // font-size: 18px;
  max-width: rem(940px);
  margin: 0 auto;
  width: 95%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.address {
  font-weight: normal;
font-size: rem(21px);
color: #292929;
@include phones {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
&__info {
  @include phones {
    font-size: rem(16px);
  }
}

}