html, body {
  height: 100%;
  margin: 0;
}
body{
 
  font-family: "Alegreya Sans", Helvetica, sans-serif;
  font-size: 18px;
  
-webkit-font-smoothing: antialiased;
-moz-osk-font-smoothing: grayscale;
position: relative;
}
.button {
cursor: pointer;
}
a {
color: inherit;
}

* {
box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: normal;

}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  display: block;
  // max-width: 100%;
}
.section {
  height: 100vh;
}
.container {
  
  max-width: 940px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adress {
  font-weight: normal;
font-size: 21px;
color: #292929;

}