.fixed-menu {
  position: fixed;
  top: 50%;
  right: 4px;
  transition: 0.5s all;
  


&__item {
  display: block;
  margin-bottom: 5px;
  transition: 0.5s all;


&--active {
  .fixed-menu__link{
border-color:1px solid #fff ;
&:after {
  background: #fff;
}
}
}

&__link {
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  transition: 0.5s all;
   &:before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s all;
}
&:hover {
  border: 1px solid #fff;
  &::after {
    background: #fff;
  }
}

}
}

}
