.header {
  margin: 0;

&__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  margin-bottom: 102px;

}

&__wrapper {
  background: url(../img/header.backgroungd.png) center top no-repeat;
  min-height: 652px;
  
  padding: 23px 80px;
  margin-bottom: 103px;
}


}