.modal {
  display: none;

  &.error-modal {
    .modal__content {
      color: red;
    }
  }

  &.fancybox-content {
    padding: 0;
  }

  &.fancybox-button {
    display: none;
  }

  &__container {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 60 px;
  }
  &__content {
    font-weight: 500;
    margin-bottom: 15px;
    color: #000;
  }
}
.input-error {
  border-color: hotpink;
}