.modal {
  display: none;
  justify-content: center;
  top: 50%;
    z-index: 1;
    position: relative;
    
  
  &.error-modal {
    .modal__content {
      color: red;

    }
  }

  &.fancybox-content {
    padding: 0;
  }

  &.fancybox-button {
    display: none;
  }

  &__container {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 23px;
    justify-content: center;
    width: 309px;
height: 176px;
  }
  &__content {
    font-weight: 500;
    
    font-size: 18px;
    color: #000;
    margin-bottom: 40px;
  }

}
.input-error {
  border-color: hotpink;
}
.open {
  display: block;
}