.phone {
  text-decoration: none;
  font-weight: bold;
font-size: rem(22px);

&--normal {
  font-weight: normal;
font-size: rem(21px);
}
&:before {
content: url(../img/tel.png);
margin-right: rem(5px);
}
}