.social {
  margin: 0;

&__link {
  display: block;
  text-decoration: 0;
  width: rem(20px);
  height: rem(20px);
  background: center center no-repeat;
}

&__item {
display: inline-block;
vertical-align: middle;
margin-right: rem(14px);
}

&__item--vk &__link{
  background-image: url(../img/vk.svg);

  }

&__item--fb &__link{
  background-image: url(../img/fb.svg);

  
  }


&__item--insta &__link{
background: url(../img/insta.svg);
}

&__item--tw &__link{
background:url(../img/tw.svg);


}

}