.social {
  margin: 0;

&__link {
  display: block;
  text-decoration: 0;
  width: 20px;
  height: 20px;
  background: center center no-repeat;
}

&__item {
display: inline-block;
vertical-align: middle;
margin-right: 14px;
}

&__item--vk &__link{
  background-image: url(/img/vk.png);
  }

&__item--f &__link{
  background-image: url(/img/f.png);
  }


&__item--insta &__link{
background: url(/img/insta.png);
}

&__item--tw &__link{
background:url(/img/tw.png);
}

}