.team--version--mobile {
  display: none;
  flex-direction: column;

  @include tablets {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.team {
  &__item {
    margin-left: 0;
    margin-bottom: rem(16px);
    &.is_open {
      .team__content {
        height: 400px;
        position: relative;
      }
      .team__content-block {
        width: 221px;
        height: 70px;
      }

      .team__content--desc {
        margin-top: 8px;
        color: #666666;
      }
    }
  }
}