.team-section {
  display: flex;
  flex-wrap: nowrap;
}

.team {
  display: flex;
  flex-direction: row;
  font-size: 18px;

  @include tablets {
    display: none;
  }

  

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: #292929;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  &__member {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    position: absolute;
    overflow: hidden;
    transition: .3s;
    height: 0;
  }

  &__item {
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-height: 400px;
    

    &:last-child {
      margin-right: 0;
    }

    &.is_open {
      .team__content {
        height: 70px;
      }
      .team__content-block {
        width: 221px;
        height: 70px;
      }

      .team__content--desc {
        margin-top: 8px;
        color: #666666;
      }
    }
  }

  &__img {
    margin-bottom: 20px;
  }

  &__name {
    text-decoration: none;
    border: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 8px;
  }

}